.Button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue_color);
    border-radius: 5px;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 24.38px;
    letter-spacing: 0.6000000238418579px;
    background: linear-gradient(274.77deg, #058BBE 0%, #046FCB 100%),
        linear-gradient(0deg, #0470CA, #0470CA),
        linear-gradient(271.58deg, rgba(5, 136, 191, 0.54) 1.08%, rgba(0, 180, 255, 0) 85.53%);
    /* background: #0470CA; */
    padding: 20px 80px;
}

@media (max-width: 768px) {
    .Button {
        font-size: 14px;
        width: 160px !important;
        height: 50px;
        padding: 10px;
    }
}