.municipBlocks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 85px;
    width: var(--blockWidth);
}

.municipBlocks_item {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.municipBlocks_item__img {
    width: 100%;
    height: 250px;
}

.municipBlocks_item__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.municipBlocks_item__place {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 31.2px;
    color: var(--blue_color);
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.municipBlocks_item__site {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    text-align: center;
    border: 1px solid #12297A;
    padding: 10px;
    border-radius: 10px;
    color: var(--blue_color);
    cursor: pointer;
}

.municipBlocks_item__more {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    color: #fff;
    background-color: var(--blue_color);
    cursor: pointer;
}

.municip {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -80px;
    padding: 80px 0;
    gap: 80px;
}

.municMap svg {
    width: 100%;
}


.fil0_1 {
    fill: #bfd6ec;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.fil0_1:hover, .activeClickitem{
    fill: #0b0c66;
}

.municMap {
    display: flex;
    position: relative;
    width: 100%;
    height: 700px;
}

.municMap_info {
    width: 70%;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.municMap_data {
    display: flex;
    flex-wrap: wrap;
    gap: 60px 20px;
}

.municMap_info__item {
    width: 30%;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.17px;
    letter-spacing: 0.6000000238418579px;
    color: var(--blue_color);
    display: flex;
    align-items: center;
    gap: 10px;
}

.municMap_info__item p {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.6000000238418579px;
}

.municMap_info__item span {
    display: flex;
    width: 70%;
}

.municMap_right {
    width: 60%;
    position: absolute;
    top: 0;
    right: 0;
}

.mapClickInfo {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mapClickInfo_name {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.26px;
    color: var(--blue_color);
}

.regionNameTooltip {
    position: absolute;
    pointer-events: none;
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 10;
    text-align: center;
}

@media (max-width: 768px) {
   .municMap {
    flex-direction: column;
    height: auto;
    padding: 20px;
   }
   .municip {
    padding: 40px 0;
    gap: 40px;
   }
   .municMap_data {
    gap: 10px;
   }
   .municMap_info {
    width: 100%;
    height: auto;
   }
   .municMap_info__item {
    width: 42%;
    font-size: 14px;
    line-height: normal;
   }
   .municMap_info__item p {
    font-size: 26px;
    line-height: normal;
   }
   .municMap_right {
    width: 100%;
    position: unset;
   }

   .municipBlocks {
    gap: 20px;
    padding: 0 20px;
   }
   .municipBlocks_item {
    width: 42%;
    justify-content: space-between;
   }
   .municipBlocks_item__img {
    /* height: 200px; */
   }
   .municipBlocks_item__place {
    font-size: 14px;
    line-height: 24px;
    /* height: auto; */
   }
   .municipBlocks_item__site {
    font-size: 14px;
   }
   .municipBlocks_item__more {
    font-size: 14px;
   }
}