* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
  /* scroll-behavior: smooth; */
}

a {
  text-decoration: none;
}

/* li {
    margin-left: 20px;
} */

table {
  border-collapse: collapse;
}

td {
  border: 1px solid #000;
  padding: 20px;
  vertical-align: top;
}

td ul {
  height: 100%;
}

td ul li {
  list-style: none;
  margin: 0;
  height: 100%;
}

:root {
  --blockWidth: 1300px;
  --blue_color: #262a5a;
}

body {
  background-color: #eef0f4;
}

/* main {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-bottom: 80px;
} */

.mySwiper {
  height: 100%;
}

.mySwiper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {
  color: #fff;
}

.projects_slider .swiper-button-prev,
.projects_slider .swiper-button-next {
  color: #fff;
}

.region_slider .swiper {
  padding-top: 150px;
  /* overflow: visible; */
}

.region_slider__elements .swiper-slide {
  z-index: 1;
  transition: all 0.7s ease-in-out;
  transform: translate(0px, -50px);
}

.region_slider__elements .swiper-slide-next + .swiper-slide {
  z-index: 2;
  transition: all 0.5s ease-in-out;
  transform: translate(0px, -50px);
}

.region_slider__elements .swiper-slide-next {
  z-index: 3;
  transition: all 0.5s ease-in-out;
  transform: translate(0px, -100px);
}

.region_slider__elements .swiper-slide-prev {
  z-index: 3;
  transition: all 0.5s ease-in-out;
  transform: translate(0px, -100px);
}

.region_slider__elements .swiper-slide-active {
  z-index: 4;
  transition: all 0.3s ease-in-out;
  transform: translate(0px, -150px);
}

.region_slider__elements .swiper-button-prev {
  top: auto;
  bottom: 0px;
  left: 30%;
  color: var(--blue_color);
}

.region_slider__elements .swiper-button-next {
  top: auto;
  bottom: 0px;
  right: 30%;
  color: var(--blue_color);
}

.region_slider__elements .swiper-pagination-bullet-active {
  background: var(--blue_color);
}

.region_slider__elements .swiper-pagination-bullet-active-next,
.region_slider__elements .swiper-pagination-bullet-active-prev {
  background: var(--blue_color);
  opacity: 0.8;
}

.region_slider__elements .swiper-pagination-bullet-active-next-next,
.region_slider__elements .swiper-pagination-bullet-active-prev-prev {
  background: var(--blue_color);
  opacity: 0.6;
}

.no-scroll {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.modalSlider .swiper-wrapper {
  align-items: center;
}

.newSlider .swiper-slide {
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
}

.newSlider .swiper-button-prev,
.newSlider .swiper-button-next {
  color: #fff;
}

.container_gchp {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-collapse: collapse;
}

.container_gchp .header,
.container_gchp .row {
  display: flex;
  border: 1px solid #000;
  margin-top: -1px;
}
.container_gchp .row_center {
  width: 50%;
}

.container_gchp .header div,
.container_gchp .row div {
  flex: 1;
  padding: 8px;
  border-right: 1px solid #000;
  text-indent: 0;
  font-size: 16px;
  line-height: normal;
  text-align: left;
}

.container_gchp .header div:last-child,
.container_gchp .row div:last-child {
  border-right: none;
}

.container_gchp .header {
  font-weight: bold;
}

.RegionPageColumnBlock {
  gap: 80px;
}

/*  */

body {
  margin: 0;
}

.banner-pb_wrapper * {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.banner-pb_wrapper {
  display: flex;
  justify-content: center;
  position: relative;
}

.banner-pb_container {
  width: 100%;
  /* max-width: 300px; */
  background-color: #f7f7f7;
  border-radius: 20px;
  padding: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-pb_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-pb_content__link {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.banner-pb_button {
  border-radius: 10px;
  padding: 16px 32px;
  background: #0d4cd3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
}

.banner-pb_button:hover {
  background: #1d5deb;
}

a {
  text-decoration: none;
}

.banner-pb_icon {
  width: 135px;
  height: 50px;
  padding: 8px 0;
}

.banner-pb_content__info {
  margin: 20px 0;
  color: #000000;
}

.banner-pb_content__title {
  font-weight: 700;
  font-size: 20px;
  margin: 0 0 12px 0;
}

.banner-pb_content__subtitle {
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}

.banner-pb_image {
  background-image: url('/business.svg');
  width: 270px;
  height: 275px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (min-width: 444px) {
  .banner-pb_container {
    /* max-width: 444px; */
  }
  .banner-pb_content {
    flex-direction: row;
    padding: 20px 0 0 0;
    width: 100%;
    justify-content: space-between;
  }
  .banner-pb_content__link {
    width: auto;
    flex-direction: column;
  }
  .banner-pb_icon {
    padding: 18px 0 0 0;
    inline-size: fit-content;
  }
  .banner-pb_content__info {
    margin: 0;
    width: 240px;
  }
}

@media screen and (min-width: 554px) {
  .banner-pb_container {
    /* max-width: 554px; */
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .banner-pb_image {
    width: 280px;
    height: 285px;
  }

  .banner-pb_content {
    flex-direction: column;
    width: 230px;
    padding: 0;
    align-items: flex-start;
  }
  .banner-pb_content__info {
    margin: 0 0 40px 0;
    width: 240px;
  }
}

@media screen and (min-width: 600px) {
  .banner-pb_container {
    max-width: 100%;
    /* padding: 30px 30px; */
  }
}

@media screen and (min-width: 670px) {
  .banner-pb_container {
    max-width: 100%;
    /* padding: 20px 60px; */
  }
}

@media screen and (min-width: 800px) {
  .banner-pb_container {
    width: 100%;
    /* max-width: 885px; */
    /* padding: 0 60px; */
  }

  .banner-pb_image {
    width: 320px;
    height: 250px;
    background-position: top;
    background-size: cover;
    margin: 20px 0 0 0;
  }

  .banner-pb_content {
    width: auto;
  }

  .banner-pb_content__info {
    width: 315px;
  }

  .banner-pb_content__title {
    font-size: 24px;
  }
  
  .banner-pb_content__subtitle {
    font-size: 18px;
  }
  .banner-pb_content__link {
    flex-direction: row;
  }
  .banner-pb_icon {
    padding: 8px 0 8px 20px;
  } 
}

@media screen and (min-width: 940px) {
  .banner-pb_container {
    width: 100%;
    /* max-width: 100%; */
    /* padding: 0 100px; */
  }

  .banner-pb_image {
    width: 360px;
    height: 280px;
    background-position: top;
    background-size: cover;
    margin: 20px 0 0 0;
  }

  .banner-pb_icon {
    width: 180px;
    height: 68px;
    padding: 10px 0 10px 30px;
  }

  .banner-pb_content__info {
    width: 430px;
  }

  .banner-pb_content__title {
    font-size: 32px;
  }
  
  .banner-pb_content__subtitle {
    font-size: 28px;
  }

  .banner-pb_button {
    font-size: 20px;
    padding: 22px 45px;
  } 
}

@media screen and (min-width: 1920px) {
  .banner-pb_container {
    justify-content: center;
    /* max-width: 1440px; */
    height: 260px;
    width: 100%;
  }
  .banner-pb_image {
    width: 310px;
    height: 240px;
    position: absolute;
    margin-left: 20px;
  }
  .banner-pb_content {
    width: 100%;
    flex-direction: row;
    align-items: center;
  }
  .banner-pb_content__info {
    margin: 0;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 768px) {
  * {
    /* border: 1px solid red; */
  }
  :root {
    --blockWidth: 100%;
  }

  .MspWidthBlock,
  .MspColumnBlock,
  .MspCenterBlock,
  .InvestorColumnBlock,
  .InvestorPageColumnBlock {
    padding: 0 20px;
  }
  .RegionPageColumnBlock {
    gap: 40px;
    padding: 0 10px;
  }
  .FooterWidthBlock {
    padding: 10px;
  }
  .MainPageWidthBlock {
    padding: 0 10px;
  }
  
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    display: none !important;
  }
}
